In [1]:
import numpy as np 
import pandas as pd

In [2]:
df= pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\IMDB DataSet.csv")

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

# step1  Lowercasing

In [5]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [6]:
# If I want to convert all movies review then  

df['review'] = df['review'].str.lower()

In [7]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# step-2  Remove HTML Tags

In [4]:
import re 
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'' , text)

In [9]:
text = "<html><body><p> Movie1 </p><p> Click here to <a href = 'http://google.com'>download</a></p> "

In [10]:
remove_html_tags(text)

' Movie1  Click here to download '

In [11]:
# now we remove tags from IMDB Datasets  

df['review'] = df['review'].apply(remove_html_tags)

In [12]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [1]:
# If we want to  remove urls from text then 

def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'' , text)

In [2]:
text1 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

text2 = 'Check  out my notebook http://www.deture.com/delta/note1234acc'

text3 = 'Google search here www.google.com'

text4 = 'For notebook click https://www.deture.com/delta/note1234acc'

In [8]:
remove_url(text3)

'Google search here '

# step-4   Remove Punctuation

In [16]:
import string 
import time

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
exclude = string.punctuation

In [18]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char , '')
    return text

In [19]:
text = 'string. With. Punctuation?'

In [20]:
start = time.time()
print(remove_punc(text))
time1 = time.time() - start 
print(time1)

string With Punctuation
0.0

In [21]:
# If we have large amount of data then we use 

def remove_punc1(text):
    return text.translate(str.maketrans('' , '' , exclude))

In [22]:
start = time.time()
print(remove_punc1(text))
time2 = time.time() - start 
print(time2)

string With Punctuation
0.0

In [23]:
df= pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\twitter_sentiment_analysis.csv")

In [24]:
df

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid Ã°ÂŸÂ˜Â˜ #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [25]:
import string 
exclude = string.punctuation

In [26]:
def remove_punc(text):
    return text.translate(str.maketrans('' , '' , exclude))

In [27]:
df['tweet'] = df['tweet'].apply(remove_punc1)

In [28]:
df

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964   user white supremacists want everyone to see ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid Ã°ÂŸÂ˜Â˜ hairflip neverread...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

# step-5 Chatword Treatment

In [29]:
chat_words = {'u2' : 'you too' , 'BBL':'Be Back Later' , 'GAL':'Get A Life'}

In [30]:
chat_words

{'u2': 'you too', 'BBL': 'Be Back Later', 'GAL': 'Get A Life'}

In [31]:
def chat_conversation(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words :
            new_text.append(chat_words[w.upper()])
        else :
            new_text.append(w) 
            
    return "".join(new_text)

In [32]:
chat_conversation('GAL')

'Get A Life'

# step-6  Spelling Correction

In [33]:
# !pip install TextBlob

In [34]:
from textblob import TextBlob

In [35]:
incorrect_text = "ceertain conditionas seveal ggenerations aree modified in the saame maner."

textBlb = TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions several generations are modified in the same manner.'

# step-7  Removing StepWords

In [10]:

import nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Error loading stopwords: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

In [9]:

STOPWORDS = set(stopwords.words('english'))

NameError: name 'stopwords' is not defined

In [71]:
# STOPWORDS

In [39]:
# manually work 

def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        
        if word in set(stopwords.words('english')):
            new_text.append('')
        
        else :
            new_text.append(word)
            
    x = new_text[:]
    new_text.clear()
    return "".join(x)
        
    
remove_stopwords('probably my all-time favorite movie , a story of selflessness , sacrifice and dedication to a noble cause.')

'probablyall-timefavoritemovie,storyselflessness,sacrificededicationnoblecause.'

# Handling Emojis

In [40]:
import re 
def remove_emoji(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"   #emotions
                               u"\U0001F300-\U0001F5FF"   #symbols & pictographs 
                               u"\U0001F680-\U0001F6FF"   #transport & map symbols 
                               u"\U0001F1E0-\U0001F1FF"   # flags(ioS) 
                               u"/U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "] +" , flags = re.UNICODE)
    return emoji_pattern.sub(r'' , text)

In [42]:
# !pip install emoji

In [73]:
import emoji 
print(emoji.demojize('Python is ðŸ˜˜ ,ðŸ˜¢ , ðŸ¤ž   '))

Python is :face_blowing_a_kiss: ,:crying_face: , :crossed_fingers:

# tokenization

In [44]:
# 1. prefix - character(s) at the begining  = $(" .)

# 2. suffix - character(s) at the end = km).!" 

# 3. Infix - character(s)  in between = --/...  

# 4. Exception - Special-case rule to split a string into several tokens or
# prevent a token from being split when punctuation rules are applied . = let's  U.s.

In [45]:
# Approach the tokenization  using the split function

# 1. word tokenization 

sent1 = "I am going to delhi" 
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [46]:
# sentence tokenization 
sent2 = "I am going to delhi . I will stay there for 3 days. Let\'s hope the trip to be great"
sent2.split('.')

['I am going to delhi ',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [47]:
# Problems with split function 
sent3 = "I am going to delhi!" 
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [48]:
# in the sent3 problem , there is seeing that ! is include with delhi . so , we have to remove it by regular expression .

In [12]:
import re

sent3 = "I am going to delhi"
tokens = re.findall("[\w']+" , sent3)
sent3

'I am going to delhi'

In [50]:
text = ''' Lorem Ispum is simply dummy test of the printing industry?
lorem this is my book , 
i see a point .'''

sentences = re.compile('[.!?]').split(text)
sentences

[' Lorem Ispum is simply dummy test of the printing industry',
 '\nlorem this is my book , \ni see a point ',
 '']

In [51]:
# here , we saw that some issue wew on split function and regular expression . So , we have to use libraries.

# 1. NLTK

In [52]:
from nltk.tokenize import word_tokenize , sent_tokenize

In [53]:
import nltk
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [54]:
sent1 = "I am going to visit delhi!"
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'delhi', '!']

In [55]:
sent2 = 'I have a Ph.D. in A.I.' 
sent3 = "We 're here to help! mail us at nks@gmail.com " 
sent4 = 'A 5km ride cost $10.50'

In [56]:
word_tokenize(sent2)

['I', 'have', 'a', 'Ph.D.', 'in', 'A.I', '.']

In [57]:
word_tokenize(sent3)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nks',
 '@',
 'gmail.com']

In [58]:
word_tokenize(sent4)

['A', '5km', 'ride', 'cost', '$', '10.50']

# Stemming

In [59]:
# 1. Inflection ==> "In grammar , inflection is the modification of a word 
# to express different grametical categories such as tense , case , voice , aspect , person , number , gender and mood ."


# 2. Stemming ==> Stemming is the process of reducing inflection in words to their root forms
# such as mapping a group of words to the same stem even if the  stem itself is not valid word in the language .

In [60]:
from nltk.stem.porter import PorterStemmer

In [61]:
ps = PorterStemmer()

def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [62]:
sample = "walk walks walking walked" 
stem_words(sample)

'walk walk walk walk'

In [63]:
# stemming mapping a group pf words to the same stem even if the stem itself is not valid word in language .So , this is the big issu of stemming . 

text = 'probably my alltime favourite movie a story of selflessness sacrifice and dedication.'
print(text)

probably my alltime favourite movie a story of selflessness sacrifice and dedication.

In [64]:
stem_words(text)

'probabl my alltim favourit movi a stori of selfless sacrific and dedication.'

In [65]:
# So , we have to use lemmatization instead of stemming .

# note - stemming is fast and lemmatization is slow .

In [66]:
# Lemmatization , unlike Stemming , reduces the inflected words properly ensuring that the root word belongs to the language . 
# In Lemitization root word is called Lemma . 
# Alemma (plural lemmas or lemmata) is the canonical form , dictionary form , or citation form of a set of words . 

# Stemming works on beehalf algorithm  , so it is fast and lemmatization is using wordnet package , so it's slow.

In [67]:
from nltk.stem import WordNetLemmatizer

import nltk
nltk.download('wordnet')

[nltk_data] Error loading wordnet: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [68]:
wordnet_lemmatizer = WordNetLemmatizer()

In [74]:
sentence = 'He was running and eating at the same time . He has bad habbit of swimming after playing long hours in the sun'
# punctuation = '?:!.,;'
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    sentence_words.remove(word)
    
sentence_words
print("{0:20}{1:20}".format("Word" , "Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word , wordnet_lemmatizer.lemmatize(word)))

Word                Lemma
was                 wa
and                 and
at                  at
same                same
.                   .
has                 ha
habbit              habbit
swimming            swimming
playing             playing
hours               hour
the                 the