In [1]:
import re   # Regular Expression

In [2]:
# Search the string to see if it starts with "The" and ends with "Spain"

In [6]:
txt = "the rain in spain" 
x = re.search('^the.*spain$' , txt)
print(x)
if x :
    print('yes')
else :
    print('no')

<re.Match object; span=(0, 17), match='the rain in spain'>
yes

In [4]:
# RegEx Functions  
# 1 . Findall ==> Returns a list containing all matches . 
txt = "the rain in spain." 
x = re.findall('ai' , txt) 
x

['ai', 'ai']

In [5]:
# The list contains the matches in the order they are found.If no matches are found, an empty list is returned . 
x = re.findall('Samyak' , txt) 
x

[]

In [6]:
# 2 . search() ==> Returns a match object if there is a match anywhere in the string . 
txt = 'I am in jaipur' 
x = re.search('\s',txt) 
print('The first white-space character is located in position:',x.start())

The first white-space character is located in position: 1

In [7]:
# If no matches are found, the value None is returned.
x = re.search('jaipur',txt) 
print(x)

<re.Match object; span=(8, 14), match='jaipur'>

In [8]:
# 3 . split() ==> Returns a list where the string has been split at each other . 
txt = 'I am in Jaipur.' 
x = re.split('\s' , txt) 
x

['I', 'am', 'in', 'Jaipur.']

In [9]:
# You can control the number of occurrences by specifying the maxsplit parameter. 
x = re.split('\s' , txt , 1) 
x

['I', 'am in Jaipur.']

In [10]:
# 4  . sub() ==> Replace one or many matches with a string . 
x = re.sub('\s' , "5" , txt) 
x

'I5am5in5Jaipur.'

In [11]:
# You can control the number of replacements by specifying the count parameter. 
x = re.sub('\s' , "5" , txt , 2) 
x

'I5am5in Jaipur.'

In [12]:
# MatchCharacters ==>> MatchCharacters are characters with a special meaning . 
#Find all lower case characters alphabetically between "a" and "m" . 
txt = 'I am in jaipur' 
x = re.findall("[a-z]" , txt) 
print(x)

['a', 'm', 'i', 'n', 'j', 'a', 'i', 'p', 'u', 'r']

In [13]:
# 2. \ ==> Signals a special sequence (can also be used  to escape special characters . )  

txt = "That will be 59 dollors"

# Find all digit charcters .  

x = re.findall("\d" , txt)
x

['5', '9']

In [14]:
# 3   . ==> any character (except newline character) 
txt = "hello planet" 
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o" . 
x = re.findall("he..o" , txt) 
print(x)

['hello']

In [9]:
# 4   ^ ==> starts with . 
txt = "hello planet" 
x = re.findall('^hello' , txt) 
print(x) 
# if x :
#     print("yes") 
# else : 
#     print('no')

['hello']

In [16]:
# 5  $ ==> ends with. 
txt = 'hello world' 
x = re.findall('world$' , txt)
x

['world']

In [17]:
# 6 zero or more occurence  
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o" . 
x = re.findall('wo.*ld' , txt)
x

['world']

In [18]:
# 7 one or more occurance  
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o" . 
x = re.findall('he.+lo' , txt) 
x

['hello']

In [10]:
# 8 zero or one occurance 
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o" . 
a = "hello world" 
x = re.findall("he.?o" , a)
print(x)
# x++
#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

In [15]:
# 9  {} Exactly the specified number of occurances . 
a = "helllo world" 

#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o" . 
x = re.findall("he.{3}o" , a) 
x

['helllo']

In [29]:
# 10 | Either or  . 
txt = "The rain in Spain falls mainly in the plain!"  
#Check if the string contains either "falls" or "stays" . 
x  = re.findall("falls|stays" , txt) 
print(x)

['falls']

# Special Sequence

In [ ]:
# A special sequence is a \ followed by one of the characters and has a special meaning . 

# 1. /A ==>Returns a match if the specified characters are at the begining of the string .

In [18]:
txt = "the rain in spain" 
x = re.findall("^the" , txt) 
x

['the']

In [19]:
x = re.findall("\Athe" , txt) 
x

['the']

In [32]:
# 2  \b ==>Returns a match where specified characters are at the begining or at the end of a word . 
txt = "the rain in spain "  
x = re.findall(r"ain\b" , txt) 
# x = re.findall("\bth" , txt) 
x

['ain', 'ain']

In [33]:
# 3 \B ==> Returns a match where the specified characters present , but not at the begining (or the end)of a word . 

#Check if "ain" is present, but NOT at the beginning of a word . 
x = re.findall(r"\Bain" , txt) 
x

['ain', 'ain']

In [37]:
# the 'r' in the begining is making sure that the string is being treated as a 'raw string' . 


#Check if "ain" is present, but NOT at the end of a word . 
x = re.findall(r"ain\B" , txt) 
x
if x :
    print('yes') 
else :
    print('no')

no

In [38]:
# 4  \d returns a match where the strings contains digits (numbers from  0-9)  
txt =  "the rain 5 in 78 spain" 
x = re.findall("\d" , txt) 
x

['5', '7', '8']

In [39]:
# 5 \D returns a match where the string does not contain digits . 
#Return a match at every no-digit character . 
x = re.findall("\D" , txt) 
print(x , end = "")

['t', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', ' ', 'i', 'n', ' ', ' ', 's', 'p', 'a', 'i', 'n']

In [20]:
# 6 \s returns a match where the string  contains a white space character . 
x  = re.findall('\s' , txt) 
print(x)

[' ', ' ', ' ']

# \w ==> returns a match where the string contains any word characters (characters from a to z , digits from 0-9 , and the underscore_ character )

In [43]:
x = re.findall("\w" , txt) 
print(x , end = "")

['t', 'h', 'e', 'r', 'a', 'i', 'n', '5', 'i', 'n', '7', '8', 's', 'p', 'a', 'i', 'n']

In [46]:
# 7 \W ==> returns a match where the string does not contain any word characters . 
x = re.findall("\W" , txt) 
print(x , end = "")

[' ', ' ', ' ', ' ', ' ']

In [47]:
# \Z returns a match if the specified characters are at the end of the string . 
txt = "The rain in spain" 
#Check if the string ends with "Spain" . 
x = re.findall('spain\Z' , txt) 
x

['spain']

# Sets
A set is a set of characters inside a pair of square brackets [] with a special meaning .

In [50]:
# 1 . [arn] ==> Returns a match where one of the specified characters (a,r or n ) is present . 
txt = "I am in jaipur" 
x = re.findall("[ampru]" , txt) 
x

['a', 'm', 'a', 'p', 'u', 'r']

In [51]:
# 2 - [a-n] ==> Returns a mattch for any lower case character ,alphabately between a to n  .
txt = "I am in jaipur" 
x = re.findall("[a-z]" , txt) 
x

['a', 'm', 'i', 'n', 'j', 'a', 'i', 'p', 'u', 'r']

In [52]:
# 3 . [^arn] ==> Returns a match for any character except a,r and n . 
txt = "I am in jaipur" 
x = re.findall("[^arn]" , txt) 
x

['I', ' ', 'm', ' ', 'i', ' ', 'j', 'i', 'p', 'u']

In [53]:
# 4 . [0123] ==>  Returns a match where any of the specified of digits (0,1,2 or 3)  are present . 
txt = "I am 23 in 13 jaipur" 
x  = re.findall("[0123]" , txt)
x

['2', '3', '1', '3']

In [54]:
# 5 . [0-9] ==> Returns a match for any digits between  0 to 9 . 
txt = "I am 345 in 123 jaipur" 
x = re.findall("[0-9]" , txt) 
x

['3', '4', '5', '1', '2', '3']

In [55]:
# 6 . [0-5][0-9] ==> Returns a match for any two digits numbers from 00 and 59 . 
txt = "many times before 11:45 AM"

#Check if the string has any two-digit numbers, from 00 to 59 .
x = re.findall("[0-5][0-9]" , txt) 
x

['11', '45']

In [56]:
# 7 . [a-zA-Z] ==> Returns a match for any character alphabatically between a to z  , lower case and upper case .
txt = "8 times before 11:45 AM" 
x = re.findall("[a-zA-Z]" ,txt) 
x

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']

In [57]:
# 8 . [+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

txt = "8 times before 11+45 AM"
#Check if the string has any + characters .

x = re.findall("[+]", txt)
print(x)

['+']

# The findall() Function
The findall() function returns a list containing all matches.

In [ ]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

# Match Object
A Match Object is an object containing information about the search and the result.

Note: If there is no match, the value None will be returned, instead of the Match Object.

In [21]:

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

<!-- # The Match object has properties and methods used to retrieve information about the search, and the result . 

.span() returns a tuple containing the start-, and end positions of the match.
.string returns the string passed into the function
.group() returns the part of the string where there was a match -->

# The Match object has properties and methods used to retrieve information about the search, and the result .

In [ ]:
# .span() returns a tuple containing the start-, and end positions of the match.
# .string returns the string passed into the function
# .group() returns the part of the string where there was a match

In [23]:
#Search for an upper case "S" character in the beginning of a word, and print its position:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [59]:
#The string property returns the search string:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [60]:
txt = "The rain in Spain"
#Search for an upper case "S" character in the beginning of a word, and print the word . 
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [ ]:
# Note: If there is no match, the value None will be returned, instead of the Match Object.